<!-- Create different Nav Route for users-->

<ul class="navbar-nav sidebar" align="center">
    <li>
        <button mat-icon-button routerLink="dashboard" >
          <mat-icon class="md-light md-dark">home</mat-icon>
        </button>
        <span>Inicio</span>
    </li>
    <li>
        <button mat-icon-button routerLink="profile" >
          <mat-icon>person</mat-icon>
        </button>
        <span>Perfil</span>
    </li>
    <li>
        <button mat-icon-button routerLink="courses">
          <mat-icon>list</mat-icon>
        </button>
        <span>Cursos</span>
    </li>
    <li>
        <button mat-icon-button routerLink="messages">
          <mat-icon>message</mat-icon>
        </button>
        <span>Mensajes</span>
    </li>
    <li>
        <button mat-icon-button routerLink="books">
          <mat-icon>books</mat-icon>
        </button>
        <span>Material</span>
    </li>
    <li>
        <button mat-icon-button routerLink="help">
          <mat-icon>help</mat-icon>
        </button>
        <span>Ayuda</span>
    </li>
  </ul>